force-app/main/default/flows/Create_Adoption_AI.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Assignment_2</name>
        <label>Set error after getting adoption record</label>
        <locationX>440</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Info</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Can&apos;t receive adoption record</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Error_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_error_after_creating_adoption_record</name>
        <label>Set error after creating adoption record</label>
        <locationX>704</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Info</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Can&apos;t create adoption record</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Error_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_success_info</name>
        <label>Set success info</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Info</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Adoption created.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Create Adoption AI {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Adoption AI</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Adoption</name>
        <label>Create Adoption</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>get_adoption_ID</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_error_after_creating_adoption_record</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Adopter__c</field>
            <value>
                <elementReference>Adopter.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Animal__c</field>
            <value>
                <elementReference>Animal.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Animal.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>In progress</stringValue>
            </value>
        </inputAssignments>
        <object>Adoption__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_adoption_ID</name>
        <label>get adoption ID</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_success_info</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assignment_2</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Adoption</elementReference>
            </value>
        </filters>
        <object>Adoption__c</object>
        <outputReference>Adoption</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Animal__c</queriedFields>
        <queriedFields>Adopter__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Adoption</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Adopter</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Adoption</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Adoption__c</objectType>
    </variables>
    <variables>
        <name>Animal</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Animal__c</objectType>
    </variables>
    <variables>
        <name>Error_Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Info</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
